@media (min-width:1200px) {
	.container {
		max-width: 1280px !important;
		// padding: 0px 15px;
	}
}


.floating-menu {
	.menu-box-absolute-position {
		display: none;
	}
}

.header {
	.header_logo_box {
		img {
			width: 221px !important;
		}
	}
}

.auto-container.main-header-bar {
	position: relative !important;
	padding: 25px 20px !important;
}

.menu-item {
	a {
		font-size: 1.1em;
		font-weight: 700;
	}
}

.logo_column {
	// position: relative;

	.menu-box-absolute-position {
		position: absolute;
		top: 50px;
		left: 0px;
		width: auto;
		height: auto;
		background-color: #fff;
		z-index: 1000;
		padding: 0 50px;
		padding-top: 69px;
		padding-bottom: 40px;
		border-radius: 13px 0 60px 60px;

		.product-category {
			font-size: 1.1em;
			font-weight: 700;
			display: block;
			margin-bottom: 10px;

			a {
				text-decoration: none;
				color: #000;
				display: block;
				white-space: nowrap;
			}
		}
	}

	.logo.navbar-brand {
		z-index: 1001;
		position: relative;
		background-color: #fff;
	}
}


.product-template-default {
	#woocommerce-wrapper {
		#left-sidebar {
			display: none !important;
		}
	}
}


#woocommerce-wrapper {
	.custom-category-list {
		padding-left: 0;

		li {
			list-style-type: none;

		}
	}
}

// li {
// 	&.product {
// 		box-shadow: 0 1px 3px -2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
// 		padding: 10px !important;
// 	}
// }

.woocommerce {
	ul.products {
		li {

			&.last,
			& {
				box-shadow: 0 1px 3px -2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
				padding: 10px !important;
				text-align: center;
				transition: box-shadow 0.3s ease;

				&:hover {
					box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .2);
				}
			}
		}
	}
}

.woocommerce {
	ul.products {
		li.product {

			.woocommerce-loop-category__title,
			.woocommerce-loop-product__title,
			h3 {
				font-size: 13px !important;
			}
		}
	}
}

.wc-block-cart__submit-button {
	background-color: var(--primary-color-one) !important;
	font-size: 12px !important;
	font-weight: 600 !important;
	font-family: var(--creote-family-one);
	line-height: 55px !important;
	padding: 0px 25px !important;
	font-weight: 600 !important;
	display: inline-block;
	color: #fff;
	border-radius: 5px !important;
	text-transform: uppercase;
	margin: auto;
	text-align: center;
	transition: 0.5s ease-in-out;

	&:hover {
		background-color: var(--primary-color-two) !important;
		color: #fff !important;
	}
}